<head>
  <link href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
</style>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">Logo</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a routerLink="/cart" class="button fancy-button">
            <i class="material-icons">shopping_cart</i>
          </a>
        </li>
        <li>
          <a href="#!">My Purchases</a>
        </li>
        <li>
          <a href="/sellbook">Sell a Book!</a>
        </li>
      </ul>
    </nav>
  </div>
</section>