<app-navbar></app-navbar>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form role="form">
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        Email address
                    </label>
                    <input type="email" class="form-control" id="exampleInputEmail1" />
                </div>
                <div class="form-group">

                    <label for="exampleInputPassword1">
                        Password
                    </label>
                    <input type="password" class="form-control" id="exampleInputPassword1" />
                </div>
                <div class="form-group">

                    <label for="exampleInputFile">
                        File input
                    </label>
                    <input type="file" class="form-control-file" id="exampleInputFile" />
                    <p class="help-block">
                        Example block-level help text here.
                    </p>
                </div>
                <div class="checkbox">

                    <label>
                        <input type="checkbox" /> Check me out
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg"
                class="rounded" />
        </div>
    </div>
    <br>

    <div class="row">
        <!-- My Purschases -->
        <div class="col-md-6">
            <div id="card-sale-date">
                <div class="card" *ngFor="let sale of clientSales; index as i">
                    <accordion [isAnimated]="true">
                        <accordion-group heading={{sale.dateString}}
                        (click)="getSale(sale)">
                            <table>
                                <tr>
                                    <th>Total</th>
                                    <th>Shipping</th>
                                    <th>Points Gained</th>
                                    <th>Books</th>
                                </tr>
                                <tr>
                                    <td>{{sale.total}}</td>
                                    <td>{{sale.shipping}}</td>
                                    <td>{{sale.gainedPoints}}</td>
                                    <table>
                                        <tr>
                                            <th>Title</th>
                                        </tr>
                                        <tr *ngFor="let book of sale.booksInfo">
                                            <td>{{book}}</td>
                                        </tr>
                                    </table>
                                </tr>
                            </table>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>

        <!-- Sold Books -->
        <div class="col-md-6">
            <div id="card-sale-date">
                <div class="card" *ngFor="let book of clientSoldBooks;">
                    <accordion [isAnimated]="true">
                        <accordion-group heading={{book.dateString}}>
                            Title: {{book.title}}<br>
                            Sold by {{book.buyPrice}}€
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>

    </div>
</div>