<app-navbar></app-navbar>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Books</th>
              <th scope="col">Total + Shippping</th>
              <th scope="col">Gained Points</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sales of clientSales">
                <td>{{sales.dateString}}</td>
                <table *ngFor="let info of sales.booksInfo">
                    <td>{{info}}</td>
                </table>
                <td>{{sales.total}} + {{sales.shipping}}</td>
                <td>{{sales.gainedPoints}}</td>
            </tr>
            </tbody>
          </table>   
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>