<app-navbar></app-navbar>
<br>

        <div class="col-md-6">
            <div id="card-client-date">
                <div class="card">
                        <accordion [isAnimated]="true">
                            <accordion-group heading= "Os Seus Dados Pessoais">
                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Name:</strong>
                                    </div>
                                    <div class="col-md-9">
                                        <span>{{clientData.name}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Email:</strong>
                                    </div>
                                    <div class="col-md-9">
                                        <span>{{clientData.email}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Phone:</strong>
                                    </div>
                                    <div class="col-md-9">
                                        <span>{{clientData.phone}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Address:</strong>
                                    </div>
                                    <div class="col-md-9">
                                        <span>{{clientData.address}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Change Password:</strong>
                                    </div>
                                    <div class="col-md-9">
                                        <span><input type="password" formControlName="password" matInput required></span>
                                    </div>
                                </div>
                          
                                
                            </accordion-group>
                        </accordion>
                </div>
            </div>
        </div>
         
    <!-- My Purschases -->
         <div class="col-md-6">
            <div id="card-sale-date">
                <div class="card" *ngFor="let sales of clientSales;">
                    <accordion [isAnimated]="true">
                        <accordion-group heading={{sales.dateString}}>
                            {{sales.dateString}}
                            <tr *ngFor="let sales of clientSales">
                                <td>Date: {{sales.dateString}}</td>
                                <td>Total: {{sales.total}}€</td>
                                <td>Shipping: {{sales.shipping}}€</td>
                                <td>Gained Points: {{sales.gainedPoints}}</td>
                            </tr>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>

        <!-- Sold Books -->
        <div class="col-md-6">
            <div id="card-sale-date">
                <div class="card" *ngFor="let book of clientSoldBooks;">
                    <accordion [isAnimated]="true">
                        <accordion-group heading={{book.dateString}}>
                            Title: {{book.title}}<br>
                            Sold by {{book.buyPrice}}€
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>