<!DOCTYPE html>
<html>
  <head>
	<title>User Login</title>
	<link rel="stylesheet" href="/stylesheets/login/login_user.css">
  </head>
  <body>
	<form action="/client/login" method="get">
		<div class="form">
			<div class="title">Welcome Customer</div>
			<div class="subtitle">Login into your account</div>
			<form action="/create" method="get">
				<div class="subtitle">...or create a new one</div>
			</form>
			<div class="input-container ic1">
				<input id="firstname" class="input" type="text" placeholder=" " required/>
				<div class="cut"></div>
				<label for="firstname" class="placeholder">Username</label>
			</div>
			<div class="input-container ic2">
				<input id="password" class="input" type="text" placeholder=" " required/>
				<div class="cut"></div>
				<label for="password" class="placeholder">Password</>
			</div>
			<button type="text" class="submit">Login</button>
			<form action="/client/create" method="get">
				<div>
					<button onclick="location.href='/client/create'" class="submit" type="button">
						Create account</button>
				</div>
			</form>
		</div>
	</form>
  </body>
</html>
