<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/portals/index.css">
  <title>My Library</title>
</head>
<body>
  <header id="header">
    <nav class="links" style="--items: 5;">
      <a href="/client/buy">Buy a Book</a>
      <a href="/book/new">New Books</a>
      <a href="/book/search">Search Books</a>
      <a href="/client/purchases">My Purchases</a>
      <a class="loginbtn" href="/client/logout">Logout</a>
      <span class="line"></span>
    </nav>
  </header>
</body>
</html>