<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="/">Library G6</a>
    </div>
    <nav>
      <ul class="nav-list">
        <li>
          <a href="/search">Search</a>
        </li>
        <li>
          <a routerLink="/cart" class="button fancy-button">
            <span class="material-icons">
              shop
            </span>
          </a>
        </li>
        <li>
          <a href="/mypurschases">My Purchases</a>
        </li>
        <li>
          <a href="/mysoldbooks">My Sold Books</a>
        </li>
        <li>
          <a href="/sellbook">Sell a Book!</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</section>