ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("/images/admin.png");
  border: 1px solid #303030;
  font: 1.1em sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:  #2471a3;
}

li {
  border-right: 1px solid rgb(255, 255, 255);
}

/* Remove the border on logout button */
li:last-child {
  border-right: none;
}

.logout {
  background-color: #13364d  ;
}