<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="/library">
        <mat-icon>home</mat-icon>
      </a>
    </div>
    <nav>
      <ul class="nav-list">
        <li>
          <a href="/search">
            <mat-icon>search</mat-icon>
          </a>
        </li>
        <li>
          <a href="/myprofile">My Profile</a>
        </li>
        <li>
          <a href="/mypurschases">My Purschases</a>
        </li>
        <li>
          <a href="/mysoldbooks">My Sold Books</a>
        </li>
      </ul>
    </nav>
  </div>
</section>