<!DOCTYPE html>
<html>
  <head>
	<title>Make Sale</title>
	<link rel="stylesheet" href="/stylesheets/sale/makeSale.css">
  </head>
  <body>
	<% if(locals.oldata) { %>
	<form action="/backoffice/employee/sales/makeSale" method="post" enctype="multipart/form-data">
		<div class="form">
			<div class="subtitle">Register a new sale</div>
			<div class="errormessage"><%= locals.message %></div>
			<div class="input-container ic1">
				<input name="clientUsername" class="input" type="text" placeholder=" "
				value="<%= locals.oldata.clientUsername %>"
				required minlength="2" maxlength="20" pattern="[a-zA-Z0-9]+" />
				<div class="cut"></div>
				<label for="clientUsername" class="placeholder">Client Username</label>
			</div>
			<div class="input-container ic2">
				<input name="livros" class="input" type="text" placeholder=" "
				value="<%= locals.oldata.livros %>" required 
				minlength="2" maxlength="20" pattern="[a-zA-z0-9]+@+((.+)[a-zA-z0-9]){1,3}"/>
				<div class="cut cut-short"></div>
				<label for="livros" class="placeholder">Livros</label>
			</div>
					
			<button type="text" class="submit">Create</button>
		</div>
	</form>
	<% } else { %>
	<form action="/backoffice/employee/sales/makeSale" method="post" enctype="multipart/form-data">
		<div class="form">
			<div class="subtitle">Register a new Sale</div>
			<div class="input-container ic1">
				<input name="clientUsername" class="input" type="text" placeholder=" "
				required minlength="2" maxlength="20" pattern="[a-zA-Z0-9]+" />
				<div class="cut"></div>
				<label for="clientUsername" class="placeholder">Client Username</label>
			</div>
			<div class="input-container ic2">
				<input name="livros" class="input" type="text" placeholder=" "
				required 
				minlength="2" maxlength="20" pattern="[a-zA-z0-9]+@+((.+)[a-zA-z0-9]){1,3}"/>
				<div class="cut cut-short"></div>
				<label for="livros" class="placeholder">Livros</label>
			</div>
			
			<button type="text" class="submit">Submit New Sale</button>
		</div>
	</form>
	<% } %>
  </body>
</html>
