<mat-grid-list cols="2" rowHeight="380px">
    <mat-grid-tile *ngFor="let book of books">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{book.title}}</mat-card-title>
                <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
            </mat-card-header>
            <img src="https://localhost/images/books/{{book._id}}.jpg" crossorigin="anonymous">
            <mat-card-content>
                <mat-card-subtitle>Editora: {{book.editor}}</mat-card-subtitle>
                <mat-card-subtitle>{{book.resume}}</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon>thumb_up</mat-icon>
                </button>
                <button mat-button>
                    <mat-icon>thumb_down</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>