
<div class="container-fluid">
    <form>
		<div class="subtitle">Sell Used Book</div>
		<div class="input-container ic1">
            <input name="title" type="text" placeholder=" "
            required pattern="[a-zA-Z0-9].+" minlength="5" maxlength="50">
            <div class="cut"></div>
            <label for="title" class="placeholder">Title</label>
        </div>
        <div class="input-container ic2">
            <input name="author" class="input" type="text" placeholder=" " required
            pattern="[a-zA-Z0-9].+" minlength="2" maxlength="50">
            <div class="cut"></div>
            <label for="author" class="placeholder">Author</label>
        </div>
        <div class="input-container ic2">
            <select class="custom-select">
                <option selected>Choose Genre</option>
                <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
            </select>
            <div class="cut"></div>
            <label for="genre" class="placeholder">Genre</label>
        </div>
        <div class="input-container ic2">
            <input name="editor" class="input" type="text" placeholder=" " required
            pattern="[a-zA-Z0-9].+" minlength="5" maxlength="50">
            <div class="cut"></div>
            <label for="editor" class="placeholder">Editor</label>
        </div>
        <div class="input-container ic2">
            <input name="resume" class="input" type="text" placeholder=" " required
            pattern="[a-zA-Z0-9].+" minlength="5" maxlength="500">
            <div class="cut cut-long"></div>
            <label for="resume" class="placeholder">Resume</label>
        </div>
        <div class="input-container ic2">
            <input name="isbn" class="input" type="text" placeholder=" " required
            pattern="[0-9]{13,13}" minlength="1" maxlength="13">
            <div class="cut"></div>
            <label for="isbn" class="placeholder">ISBN</label>
        </div>
        <div class="input-container ic2">
            <input name="sellPrice" class="input" type="text" placeholder=" " required
            pattern="^[1-9]{1}[0-9]{0,9}" minlength="1" maxlength="5">
            <div class="cut cut-long"></div>
            <label for="sellPrice" class="placeholder">Sell Price</label>
        </div>
        <div class="custom-file input-container ic2">
            <input name="cover" class="custom-file-input" type="file" required/>
            <div class="cut cut-long"></div>
            <label for="cover" class="custom-file-label">Choose Book Cover Image</label>
        </div>
    </form>    
</div>