<div class="back">
    <mat-grid-list cols="3">
        <mat-grid-tile colspan="3">
            <mat-card>
                <mat-card-header color="primary">
                    <mat-card-title>Login into your account,
                        dear customer!</mat-card-title>
                </mat-card-header>
                <form [formGroup]="loginForm" (submit)="loginUser()">
                    <mat-form-field style="width:400px !important">
                        <mat-label>Username</mat-label>
                        <input formControlName="username" matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width:400px !important">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="password" matInput>
                    </mat-form-field>
                    <br>
                    <mat-card-actions class="buttons">
                        <button mat-raised-button color="login">Login</button>
                        <button mat-raised-button color="signup" [routerLink]="['/signup']">Register</button>
                        <a [routerLink]="['/']">
                            <igx-icon [style.color]="'#ffffff'">home</igx-icon>
                        </a>
                    </mat-card-actions>
                </form>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>