<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="books">
            <div class="book" *ngFor="let book of books">
                <div class="book-details">
                    <h2 class="book-title">{{book.title}}</h2>
                    <h3 class="book-author">{{book.author}}</h3>
                    <p class="book-price">{{book.sellPrice}}</p>
                </div>
                <!-- 
                <div class="checkout-item-quantity">
                    <button mat-icon-button (click)="decrement()">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <span>{{quantity}}</span>
                    <button mat-icon-button (click)="increment()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                -->
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="checkout">
            <div class="checkout-details">
                <h2 class="checkout-title">Checkout</h2>
                <div class="checkout-total">
                    <p class="checkout-total-title">Total</p>
                    <p class="checkout-total-price">{{total}}</p>
                </div>
            </div>
            <div class="checkout-button">
                <button mat-raised-button color="primary" (click)="checkout()">Checkout</button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>