<!DOCTYPE html>
<html>
  <head>
	<title>Manage Points</title>
	<link rel="stylesheet" href="/stylesheets/managePoints/managePoints.css">
	<script defer src="/javascripts/update.js"></script>
  </head>
  <body>
	<% if(locals.points) { %>
	<div class="form">
		<form action="/backoffice/admin/managePoints" method="post" enctype="multipart/form-data">
			<div class="subtitle">Points Management</div>
			<div class="input-container ic1">
				<input name="pointsPerPrice" class="input" type="text" placeholder=" "
				value="<%= locals.points.pointsPerPrice %>" oninput="updatedValue()"
				minlength="1" maxlength="50" pattern="[0-9]+" />
				<div class="cut cut-long"></div>
				<label for="pointsPerPrice" class="placeholder">Points Per Price</label>
			</div>
			<button type="text" class="submit">Update</button>
		</form>
		<form action="/backoffice/admin/" method="get">
			<button type="text" class="back">Back</button>
		</form>
	</div>
	<% } else { %>
		<h1>Some error occured, could not load point management</h1>
	<% } %>
  </body>
</html>
