<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
</style>
<article class='book' *ngFor="let book of books">
    <img src="https://localhost/images/books/{{book._id}}.jpg" crossorigin="use-credentials">
    <div class="info"><br>
        <h1>{{book.title}}</h1>
        <h3>Author: {{book.author}}</h3>
        <h3>Editor: {{book.editor}}</h3>
        <h3>Genre: {{book.genre}}</h3>
        <br>
        <h2>{{book.sellPrice}} €
            <p>Available: {{book.stock}}</p>
        </h2>
        <div>
            <button class="button fancy-button" (click)="addToCart(book)">
                <i class="material-icons-outlined">shopping_cart</i>
                Add to cart
            </button>
        </div>
    </div>
</article>