<!DOCTYPE html>
<html>
  <head>
	<title>Admin Login</title>
	<link rel="stylesheet" href="/stylesheets/login/login_admin.css">
  </head>
  <body>
	<form action="/backoffice/login" method="post" enctype="multipart/form-data">
		<div class="form">
			<div class="title">Welcome</div>
			<div class="subtitle">Login into your account</div>
			<div class="input-container ic1">
				<input name="username" class="input" type="text" placeholder=" " required/>
				<div class="cut"></div>
				<label for="username" class="placeholder">Username</label>
			</div>
			<div class="input-container ic2">
				<input name="password" class="input" type="password" placeholder=" " required/>
				<div class="cut"></div>
				<label for="password" class="placeholder">Password</>
			</div>
			<button type="text" class="submit">Login</button>
		</div>
	</form>
  </body>
</html>
