<div class="back">
    <mat-grid-list cols="2">
        <mat-grid-tile colspan="2">
            <mat-card>
                <mat-card-header color="primary">
                    <mat-card-title>Create your new account</mat-card-title>
                </mat-card-header>
                <form [formGroup]="signupForm" (ngSubmit)="createUser()">
                    <mat-form-field style="width:400px !important">
                        <mat-label>Name</mat-label>
                        <input formControlName="name" matInput pattern="[a-zA-Z ]{1,50}$" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width:400px !important">
                        <mat-label>Username</mat-label>
                        <input formControlName="username" matInput pattern="[a-zA-Z ]{1,20}$" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width:400px !important">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput pattern="[a-zA-z0-9]+@+((.+)[a-zA-z0-9]){2,3}"
                            required>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width:400px !important">
                        <mat-label>Address</mat-label>
                        <input formControlName="address" matInput pattern="[a-zA-Z ]{1,100}$" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width:400px">
                        <mat-label>Phone</mat-label>
                        <input formControlName="phone" matInput pattern="[0-9]{9,9}" minlength="9" maxlength="9">
                    </mat-form-field>
                    <br>

                    <mat-form-field style="width:400px">
                        <mat-label>Birth Date</mat-label>
                        <input formControlName="birthDate" matInput class="input" type="date" placeholder=" "
                            required>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width:400px !important">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="password" matInput required>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width:400px">
                        <mat-label>Did a friend recommend you our website?</mat-label>
                        <input formControlName="recommendedBy" matInput
                            pattern="[a-zA-z0-9]+@+((.+)[a-zA-z0-9]){2,3}">
                    </mat-form-field>
                    <br> 
                    <button mat-raised-button color="signup" color="signup">Create account</button>
                </form>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>