mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.main-image{
  margin: 10px;
  width: calc(85% - 50px);
  height: calc(85% - 50px);
  object-fit: cover;
  justify-content: center;
}