
mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 5px;
}

mat-card {
  margin: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.main-image{
  margin: 0 auto;
  width: calc(85% - 50px);
  height: calc(75% - 50px);
  object-fit: cover;
  justify-content: center;
  display: inline-block;
  vertical-align: middle;
}

.info {
  padding: 10px;
  width: 350px;

  display: flex;
  justify-content: space-between;
}