<app-topbar></app-topbar>
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search" class="row height d-flex justify-content-center align-items-center"
                style="margin-top: -100px;">
                <i class="fa fa-search"></i>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button [(ngModel)]="bookType" (click)="setSearchType('new')" value="new">
                        New
                    </mat-radio-button>
                    <mat-radio-button [(ngModel)]="bookType" (click)="setSearchType('used')" value="used">
                        Used
                    </mat-radio-button>
                    <input type="text" placeholder="Search" name="term" [(ngModel)]="term" class="form-control"
                        (keyup)="onSearch(term)" placeholder="Search for a book...">
                </mat-radio-group>
            </div>
        </div>
    </div>
</div>
<app-books></app-books>