<div class="container">
	<div class="title">
		<h2>Product Order Form</h2>
	</div>
  <div class="d-flex">
	<form action="" method="">
	  <label>
		<span class="fname">First Name <span class="required">*</span></span>
		<input type="text" name="fname">
	  </label>
	  <label>
		<span class="lname">Last Name <span class="required">*</span></span>
		<input type="text" name="lname">
	  </label>
	  <label>
		<span>Email Address <span class="required">*</span></span>
		<input type="email" name="city"> 
	  </label>
	</form>
	<div class="Yorder">
	  <table>
		<tr>
		  <th>Product</th>
		  <th>Quantity</th>
		  <th>Total</th>
		  <th></th>
		</tr>
		<tr *ngFor="let book of booksInCart">
		  <td>{{book.title}}</td>
		  <td>{{book.quantityToBuy}}</td>
		  <td>{{book.sellPrice * book.quantityToBuy}}</td>
		  <td>
			  <button class="button fancy-button" (click)="removeFromCart(book)">
				  <i class="material-icons-outlined">delete</i></button>
		  </td>
		</tr>
	  </table><br> 
	  <div class="total">
		<h2 style="text-align: center;">Total: {{calculateTotalPrice()}} €</h2>
		<h3 style="text-align: center;">Shipping: {{calculateShipping()}} €</h3>
	  </div>
	  <button type="button" class="button fancy-button" (click)="makeSale(booksInCart)">
		  <i class="material-icons-outlined">shopping_cart</i>
		  Checkout
	  </button>
	</div>
   </div>
  </div>