.back {
  background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
  background-size: cover;

  height: 125%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mat-sell {
  background-color: forestgreen;
  color: white;
}

.mat-back {
  float: inline-end;
  background-color: rgba(45, 45, 45, 0.852);
  color: rgb(255, 255, 255);
  justify-content: center;
}


::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(255, 255, 255) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(165, 165, 165) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(255, 255, 255) !important;
}